body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-danger {
  background-color: #85444b !important;
}

.btn-danger:hover {
  background-color: #583034 !important;
}

.btn-warning {
  background-color: #948453 !important;
}

.btn-warning:hover {
  background-color: #665a38 !important;
}
